apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
- ../../../../base/apps/changedetection

helmCharts:
- name: changedetection-io
  namespace: changedetection
  version: 1.57.0
  repo: https://zekker6.github.io/helm-charts/
  valuesFile: ../../../../base/apps/changedetection/values.yaml
  releaseName: ""
  valuesInline:
     fullnameOverride: changedetection
  includeCRDs: true
