ingress:
  main:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      kubernetes.io/ingress.class: traefik
    hosts:
      - host: change.rabarbra.me
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
    - secretName: changedetection-tls
      hosts:
        - change.rabarbra.me
persistence:
  config:
    enabled: true
    type: pvc
    mountPath: /datastore
    readOnly: false
    storageClass: "nfs-client"
    accessMode: ReadWriteOnce
    size: 100Mi
    retain: false

